PORT=5000
NODE_ENV=development

# Database configuration
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.nprfaewpmaujpjtskvmu
DB_PASSWORD=your_password_here

DATABASE_URL=postgresql://postgres.nprfaewpmaujpjtskvmu:your_password_here@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres

# JWT Configuration
JWT_SECRET=t5esL6Aea959i3blo291Dd1rCKHLQ6QQudFoqPfvjQe5yP2719c3NRxezPa6gh9W
O1RTZl97caJ9se/FP2XbZA==
JWT_EXPIRES_IN=7d
